<section role="region" aria-labelledby="inputs" class="page__section">
  <header role="banner" class="section__header">
    <div class="header__container">
      <h4 class="header__title--section" id="catalog">catalog</h4>
    </div>
  </header>

  <div class="section__body">

    <div class="page__row">

      <div class="page__col-2">

        <div class="catalog__sidebar">
          <h5 class="catalog__sidebar--header">all items</h5>

          <ul class="catalog__sidebar--nav">
            <li class="catalog__sidebar--nav--item">Main Category
              <ul class="catalog__sidebar--subnav">
                <li class="catalog__sidebar--nav--item">Subcategory 1</li>
                <li class="catalog__sidebar--nav--item">Subcategory 2</li>
                <li class="catalog__sidebar--nav--item">Subcategory 3</li>
              </li>
              </ul>
            <li class="catalog__sidebar--nav--item">Main Category</li>
            <li class="catalog__sidebar--nav--item">Main Category</li>
            <li class="catalog__sidebar--nav--item">Main Category</li>
            <li class="catalog__sidebar--nav--item">Main Category</li>
            <li class="catalog__sidebar--nav--item">Main Category</li>
          </ul>
        </div>

      </div>

      <div class="page__col-10">

        <div class="catalog__item float--left margin-right--charlie margin-bottom--bravo">
          <div class="image__wrapper image__wrapper--medium margin-bottom--echo">
          <%= image_tag "main/placeholder-img.jpg", class: "image__main" %>
          <div class="image__main--overlay"><a href="#">View Details</a></div>
          </div>
          <%= image_tag 'icons/icon-basket.svg', class: 'catalog__item--icon float--right' %>
          <h5 class="catalog__item--title">Super Cute Item</h5>
          <h4 class="catalog__item--price">$35</h4>
        </div>

        <div class="catalog__item float--left margin-right--charlie margin-bottom--bravo">
          <div class="image__wrapper image__wrapper--medium margin-bottom--echo">
          <%= image_tag "main/placeholder-img.jpg", class: "image__main" %>
          <div class="image__main--overlay"><a href="#">View Details</a></div>
          </div>
          <%= image_tag 'icons/icon-basket.svg', class: 'catalog__item--icon float--right' %>
          <h5 class="catalog__item--title">Super Cute Item</h5>
          <h4 class="catalog__item--price">$35</h4>
        </div>

        <div class="catalog__item float--left margin-right--charlie margin-bottom--bravo">
          <div class="image__wrapper image__wrapper--medium margin-bottom--echo">
          <%= image_tag "main/placeholder-img.jpg", class: "image__main" %>
          <div class="image__main--overlay"><a href="#">View Details</a></div>
          </div>
          <%= image_tag 'icons/icon-basket.svg', class: 'catalog__item--icon float--right' %>
          <h5 class="catalog__item--title">Super Cute Item</h5>
          <h4 class="catalog__item--price">$35</h4>
        </div>

        <div class="catalog__item float--left margin-right--charlie margin-bottom--bravo">
          <div class="image__wrapper image__wrapper--medium margin-bottom--echo">
          <%= image_tag "main/placeholder-img.jpg", class: "image__main" %>
          <div class="image__main--overlay"><a href="#">View Details</a></div>
          </div>
          <%= image_tag 'icons/icon-basket.svg', class: 'catalog__item--icon float--right' %>
          <h5 class="catalog__item--title">Super Cute Item</h5>
          <h4 class="catalog__item--price">$35</h4>
        </div>

        <div class="catalog__item float--left margin-right--charlie margin-bottom--bravo">
          <div class="image__wrapper image__wrapper--medium margin-bottom--echo">
          <%= image_tag "main/placeholder-img.jpg", class: "image__main" %>
          <div class="image__main--overlay"><a href="#">View Details</a></div>
          </div>
          <%= image_tag 'icons/icon-basket.svg', class: 'catalog__item--icon float--right' %>
          <h5 class="catalog__item--title">Super Cute Item</h5>
          <h4 class="catalog__item--price">$35</h4>
        </div>

        <div class="catalog__item float--left margin-right--charlie margin-bottom--bravo">
          <div class="image__wrapper image__wrapper--medium margin-bottom--echo">
          <%= image_tag "main/placeholder-img.jpg", class: "image__main" %>
          <div class="image__main--overlay"><a href="#">View Details</a></div>
          </div>
          <%= image_tag 'icons/icon-basket.svg', class: 'catalog__item--icon float--right' %>
          <h5 class="catalog__item--title">Super Cute Item</h5>
          <h4 class="catalog__item--price">$35</h4>
        </div>


      </div>

    </div>

  </div>

</section>