<!doctype html>
<html>
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">

    <title><%= current_page.data.title || "BlocShop UI Kit" %></title>

    <!-- Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Muli:400,300,300italic,400italic|Flamenco:400,300' rel='stylesheet' type='text/css'>

    <!-- Stylesheets -->
    <%= stylesheet_link_tag :main %>
  </head>
  <body class="<%= page_classes %>">

    <header role="banner" class="homepage__header page__container">
      <div class="homepage__logo">
        <%= image_tag "main/ck-logo-blk.png" %>
      </div>
      <h1 class="header__title heading--h3">styleguide</h1>
      <div class="header__nav">
        
      </div>
      
      <%= link_to 'elements', '/elements' %> | <%= link_to 'components', '/components' %> | <%= link_to 'modules', '/modules' %> 
      
    </header>

    <main role="main" class="page__container">
      <%= yield %>
    </main>
    
    <!-- Javascript -->
    <%= javascript_include_tag :all %>
  </body>
</html>
